body {
  font-family: sans-serif;
}


/* Make content area fill the entire browser window */
html,
.fullscreen {
  /*display: flex;*/
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1fa1f2;
}

#mainContainer {
	height: calc(100% - 6rem);
	display: flex;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
 /* height: 100%;*/
}

.title {
  font-size: 0.6rem;
  color: white;
}
#s1 {
	font-size: 4rem;
}
#s2 {
	font-size: 2rem;
}
#s3 {
	font-size: 1.333rem;
}

#s4, #s7 {
	font-size: 6rem;
}
#s5 {
	font-size: 3rem;
}
#s6 {
	font-size: 2rem;
}



#carregamento {
	color: WHITE;
    /* text-shadow: 2px 2px 2px black; */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #1fa1f2cc;
}

#carregando {
    margin: auto;
    /* background: red; */
    /* height: 18%; */
    top: 41%;
    text-align: center;
    position: relative;
}

#salvar, #cancelar {
    margin: auto;
    top: 41%;
    text-align: center;
    position: relative;
	width: 20rem;
}

#enviadoOk, #enviadoNo, #verificaDel, #listaReg {
    margin: auto;
    top: 5rem;
    text-align: center;
    position: relative;
    width: 20rem;
    height: 100%;
    overflow: auto;
}

#scrollMSG, #scrollErro {
	overflow: auto;
    height: calc(100% - 15rem);
}

 #scrollListaReg {
	overflow: auto;
    height: calc(100% - 17rem);
}

.profReg {
	width: 100%;
}

.profRegInput {
	width: calc(100% - 10px);
	    background: #1fa0f1;
    border-block-color: #1fa0f1;
}

#save2all, #cancelCham, #cancelNota, #envioOk, #confirmDel, #buscarRegistro {
	color: WHITE;
    /* text-shadow: 2px 2px 2px black; */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #1fa1f2f2;
}

@media screen and (max-width: 767px) and (orientation: portrait) {

}

@media screen and (min-width: 430px) and (max-width: 767px) and (orientation: portrait) {

}


@media screen and (max-width: 429px) and (orientation: portrait) {

}

@media screen and (min-width: 768px) {
	
}
	#logo {
		text-align: center;
		/*position: sticky;
		bottom: 0;*/
		width: 100%;
		background-color: #1fa1f2;
}
	}

	.Ativo {
	}
 
	.Inativo {
		display: none; 
	}
	
	.descricao {
		color: white;
		font-family: sans-serif;
		font-weight: normal;
		margin: 80px 10px;
		position: relative;;
	}
	
	#dadosLogin div {
		display: block;
		/*padding: 5px;*/
	}
	
		
	.olho {
		cursor: pointer;
		position: relative;
		/* width: 12vw; */
		top: -2.5em;
		max-width: 40px;
		left: 11.5rem;
	}
	
	.buttonAtivo {     
		display: inline;
		border-radius: 6px;
		min-width: 60px;
		height: 30px;
		font-size: 14px;
		color: #424242;
		/* margin-left: 10px; */
		position: relative;
		right: -5.7rem;
	}
	
		
	#bim {
    position: relative;
    margin-top: 8px;
  } 	
	
	#resposta {
		/*color: #fd3d00;*/
		color: #68c5ff;
		text-shadow: 2px 2px 2px #005b94;
	}
	
	#acesso {
		color: #3d312d;
		display: block;
		font-size: 0.7em;
	}
	
	.trLegenda {
		height: 1.5em;
	}
	
	#aviso {
		background: yellow;
		padding: 10px;
		margin-top: 10px;
		color: red;
	}
	
	#aula {
		width: 50px;
	}
  
  #redeSelect, #bimestre, #prox, #ant, #nome, #num, #nota, #aula, #turmaSelect, #avaliacao, #RM, #senha, #escolaSelect, .textCont, .tema, .coord {
    color: #0269a9;
    width:calc(100% - 10px);
    font-size: 1rem;
    border-radius: 10px;
    height: 2rem;
    text-align: center;
	margin: 5px;
	border: 0;
	text-align-last: center;
  }
  
  #escolaSelect, #redeSelect, #RM, #senha {
	text-align-last: center;
	background: #e8f0fe;
	color: #757575;
  }
  
  #aula, .turmaSelectCenter {
	text-align-last: center;
  }
  
  .turmaSelectLeft {
	text-align-last: left;
  }
  
  #escolaSelect {/*, #anoSem {*/
    padding-left: 1rem;
  }	
  
  #RM, #senha {
    padding: 0;
  }

  #Diachamada, #DiachamadaSelected, #DiachamadaIn, #diaRegistroSelected {
    color: #0269a9;
    width:calc(100% - 10px);
    border-radius: 10px;
    height: 2rem;
    margin: 5px;
	border: 0;
	
	padding-left: 6rem;
	box-sizing: border-box;
	font-size: 1.15rem;
	text-align: left;
  }
    
  
 /* #bimestre.NaoSelecionado,*/
 #escolaSelect.NaoSelecionado, #redeSelect.NaoSelecionado {
    color: #757575;
  }  
  
  #escolaSelect.Selecionado, #redeSelect.Selecionado {
    color: black;
  }  
  
  
  
  #senha {
		/*width: calc(100% - 60px);*/
	}
  
  #dataIn {
    position: relative;
    left: 242px;
    top: 18px;
  }

   #escola, #controle, #login { 
	border-top: 3px solid #F2EDED;
    border-bottom: 3px solid #F2EDED;
    width: 20rem;
    margin: auto;
	padding: 12px 0;
  }
  
  #formulario {
	  text-align: left;
  }
    
  #conteudo {
    /*margin: 25px;*/
	width: 100%;
  }
  
  #botoesFormulario {
	display: block;
    text-align: center;
  }
 
  .F, .C, .N, #ant, #prox, #setConteudo, #delete, #save, #cancel, #printCham, #enviarDataCham, #enviarTurmaAval, #voltarEscola,
  #voltarEscolha, #voltarEscolha2, #saveSenha, #sair, #pesquisar, #openNotas, #openChamada, #openDiario,
  #abrirCham, #abrirAval, #imprimir, #saveYes, #saveNot, #cancelYes, #cancelNot, #ok, #okErro, #deletar, #cancelarDel,
  #openRegistro, #abrirHTPC, #abrirHTPI, #enviarRegistro, #imprimirRegistro, #imprimirNotas, #buscarRegistroProf, #cancelarBusca {/*#chamada input[type="button"] {*/
	width: 28%;
    height: 3rem;
    margin: 2%;
    border-radius: 10%;
    color: #004977;
    font-size: 1rem;
    background: #79b7de;
	font-weight: bold;
  }
  
  #num, #nota {
	  width: calc(100% - 12.5rem);
	  border-radius: 0;
  }
  
  #ant {
	float: left;
	border-radius: 10px 0 0 10px;
	width: 5rem;
	height: 2.125rem;
	margin: 5px;
  }
  
  #prox {
	float: right;
	border-radius: 0 10px 10px 0;
	width: 5rem;
	height: 2.125rem;
	margin: 5px;
  } 
  
  #horarioIn, #horarioOut {
    width: 5rem;
    height: 2.125rem;
    margin: 5px;
    text-align: center;
    font-size: 1rem;
    border: 0;
  }
  #horarioIn {
	float: left;
	border-radius: 10px 0 0 10px;
  }
  
  #horarioOut {
	float: right;
	border-radius: 0 10px 10px 0;
  }
  
  #intervaloHorario {
	width: calc(100% - 12rem);
    float: left;
    text-align: center;
    padding-top: 0.8rem;
  }
  
  #voltarEscola, #ok, #okErro, #enviarDataCham, #enviarRegistro, #voltarEscolha2, #enviarTurmaAval {  
	margin-left: 10rem;
  }
  
  #buscarRegistroProf, #cancelarBusca{
	margin-left: 2rem;
  }
 
  
  #nomeProf, #diaAula, #avalTurmaBim, #turmaCarregada,#secaoAvalBim, #comandos label, #diaReg, #secaoHTPI, #secaoConteudo, #secaoConteudoDia, #secaoImpressao {
    color: white;
	font-weight: bold;
  }
  
  #labeLPularLinha, #labeLPularLinha2 {
    color: #c0d3de;
  }
  
  #nome {
    background: white;
  }
  
  .textCont {
    display: block;
    text-align: left;
	text-align-last: left;
    font-size: 1.2rem;
    height: 3.3rem;
  }
   
  .F, .C, .N {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #048de2;
    font-weight: bold;
    font-size: 2rem;
    color: white;
  }
  
  .Fativo {
    background: #f34545;
  }
  
  .Cativo {
    background: mediumseagreen;;
  }
  
  .Nativo {
    background: #0504e2;
  }
  
  radio {
    height: 30px;
    width: 30px;
  }
      
  .RM {
    background-color: #c2d69b;
  }
  
  .TR {
    background-color: #92cddc;
  }
  
  .RC {
    background-color: #fabf8f;
  }
  
  .EV {
    background-color: #EEEE00;
  }
  
  .NC {
    background-color: #ffe599;
  }
  
  .FA {
    background-color: #ccc0d9;
  }
  